<robot name="table">
    
<material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

<link name="base">
<inertial>
         <origin xyz ="0 0 0.15" rpy="0 0 0"/>
         <mass value="50"/>
         <inertia
           ixx="1.4167"
           iyy="3.75"
           izz="4.417"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
   <visual>
     <geometry>
        <box size="1.8 1 0.30"/>
     </geometry>
     <origin xyz ="0 0 0.15" rpy="0 0 0"/>
     <material name="white"/>
   </visual>
    <collision>
<origin xyz ="0 0 0.15" rpy="0 0 0"/>
        <geometry>
        <box size="1.8 1 0.30"/>
     </geometry>

    </collision>
    <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
</link>

<link name="Y_N">
<inertial>
         <origin rpy="0 0 0" xyz="0 -0.525 0.2"/>
         <mass value="50"/>
         <inertia
           ixx="0.3854"
           iyy="13.875"
           izz="13.51"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
    <visual>
      <geometry>
        <box size="1.8 0.05 0.4"/>
      </geometry>
           <material name="blue"/>
      <origin rpy="0 0 0" xyz="0 -0.525 0.2"/>
    </visual>
    <collision>
<origin rpy="0 0 0" xyz="0 -0.525 0.2"/>
        <geometry>
        <box size="1.8 0.05 0.3"/>
      </geometry>
    </collision>
    <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
</link>
<joint name="base_to_right" type="fixed">
<parent link="base"/>
  <child link="Y_N"/>
<origin xyz="0 0 0"/>
</joint>
<link name="Y_P">
<inertial>
         <origin rpy="0 0 0" xyz="0 0.525 0.2"/>
         <mass value="50"/>
         <inertia
           ixx="0.3854"
           iyy="13.875"
           izz="13.51"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
    <visual>
      <geometry>
        <box size="1.8 0.05 0.4"/>
      </geometry>
           <material name="blue"/>
      <origin rpy="0 0 0" xyz="0 0.525 0.2"/>
    </visual>
    <collision>
<origin rpy="0 0 0" xyz="0 0.525 0.2"/>
        <geometry>
        <box size="1.8 0.05 0.3"/>
      </geometry>
    </collision>
        <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
</link>
<joint name="base_to_left" type="fixed">
<parent link="base"/>
  <child link="Y_P"/>
<origin xyz="0 0 0"/>
</joint>

<link name="Xpos_Ypos">
<inertial>
         <origin rpy="0 0 1.57" xyz="0.925 0.4 0.2"/>
         <mass value="25"/>
         <inertia
           ixx="0.33854"
           iyy="0.5208"
           izz="0.1927"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
    <visual>
      <geometry>
        <box size="0.3 0.05 0.4"/>
      </geometry>
      <origin rpy="0 0 1.57" xyz="0.925 0.4 0.2"/>
      <material name="blue"/>
    </visual>
    <collision>
<origin rpy="0 0 1.57" xyz="0.925 0.4 0.2"/>
        <geometry>
        <box size="0.3 0.05 0.3"/>
      </geometry>
    </collision>
        <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
  </link>
<joint name="base_to_frontR" type="fixed">
<parent link="base"/>
  <child link="Xpos_Ypos"/>
<origin xyz="0 0 0"/>
</joint>
<link name="Xpos_Yneg">
<inertial>
<origin rpy="0 0 1.57" xyz="0.925 -0.4 0.2"/>
         <mass value="25"/>
         <inertia
           ixx="0.33854"
           iyy="0.5208"
           izz="0.1927"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
    <visual>
      <geometry>
        <box size="0.3 0.05 0.4"/>
      </geometry>
      <origin rpy="0 0 1.57" xyz="0.925 -0.4 0.2"/>
      <material name="blue"/>
    </visual>
    <collision>
<origin rpy="0 0 1.57" xyz="0.925 -0.4 0.2"/>
         <geometry>
        <box size="0.3 0.05 0.3"/>
      </geometry>
    </collision>
        <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
 </link>
<joint name="base_to_frontL" type="fixed">
<parent link="base"/>
  <child link="Xpos_Yneg"/>
<origin xyz="0 0 0"/>
</joint>
<link name="Xneg_Ypos">
<inertial>
<origin rpy="0 0 1.57" xyz="-0.925 0.4 0.2"/>
         <mass value="25"/>
         <inertia
           ixx="0.33854"
           iyy="0.5208"
           izz="0.1927"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
    <visual>
      <geometry>
        <box size="0.3 0.05 0.4"/>
      </geometry>
      <origin rpy="0 0 1.57" xyz="-0.925 0.4 0.2"/>
      <material name="blue"/>
    </visual>
    <collision>
<origin rpy="0 0 1.57" xyz="-0.925 0.4 0.2"/>
        <geometry>
        <box size="0.3 0.05 0.3"/>
      </geometry>
    </collision>
        <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
 </link>
<joint name="base_to_backL" type="fixed">
<parent link="base"/>
  <child link="Xneg_Ypos"/>
<origin xyz="0 0 0"/>
</joint>
<link name="Xneg_Yneg">
<inertial>
<origin rpy="0 0 1.57" xyz="-0.925 -0.4 0.2"/>
         <mass value="25"/>
         <inertia
           ixx="0.33854"
           iyy="0.5208"
           izz="0.1927"
           ixy="0.0"
           ixz="0.0"
           iyz="0.0" />
        </inertial>
    <visual>
      <geometry>
        <box size="0.3 0.05 0.4"/>
      </geometry>
      <origin rpy="0 0 1.57" xyz="-0.925 -0.4 0.2"/>
      <material name="blue"/>
    </visual>
    <collision>
<origin rpy="0 0 1.57" xyz="-0.925 -0.4 0.2"/>
         <geometry>
        <box size="0.3 0.05 0.3"/>
      </geometry>
    </collision>
        <contact>
      <lateral_friction value="0.01"/>
      <spinning_friction value="0.001"/>
    </contact>
 </link>
<joint name="base_to_backR" type="fixed">
<parent link="base"/>
  <child link="Xneg_Yneg"/>
<origin xyz="0 0 0"/>
</joint>
 
</robot>
